<header id="header" class="jumbotron">
    <h1 class="display-3 d-flex justify-content-center mb-3">Confess!</h1>
    <p class="d-flex justify-content-center">Say whatever you want. It's specially made for you to confess.</p>
</header>